.dc-chart g.row text {
  fill: whitesmoke;
  font-size: 0.85em;
}

.dc-chart g.row text.row.dim {
  fill:grey;
}

.dc-chart .selected path {
    stroke-width: 0;
/*    stroke: #ccc;*/
    fill-opacity: 1;
}

.legend.dc-chart g.row rect {
    fill-opacity: 0.8;
    cursor: default;
}

.legend.dc-chart g.row text {
    cursor: default;
}

.legend.dc-chart g.row rect:hover {
  fill-opacity: 0.8;
}

.dc-chart .pie-slice {
  fill: white;
  font-size: 0.75em;
}

.dc-chart .pie-slice:hover {
  opacity: 0.8
}

.grey {
  opacity: 0.2;
}

.deselected {
  opacity: 0.4;
  fill: white;
  stroke: gray !important;
}

.dot {
  stroke-width: 8;
  opacity: 1;
  fill-opacity: 0.8 !important;
  stroke-opacity: 0.8 !important;
}

.dot:hover {
  stroke-width: 8;
  opacity: 1;
  fill-opacity: 1 !important;
  stroke-opacity: 1 !important;
}

.dc-legend {
  font-size: 12px;
}

.guide-margin {
  margin: 0 auto 10px auto;
}

.data-count {
  font-size: 16px;
}

body {
  background: #EFF0F1;
}

.dc-chart g.row text {
  fill: black;
  opacity: 0.8;
}

.main-nav {
  
}

.nav-border {
  border: 0;
}

.no-bullets{
  list-style-type: none;
  padding: 0;
    margin: auto 30px;
}

.no-bullets li {
  margin-bottom: 5px;
}

.draggable:hover, .draggable:focus {
  cursor: all-scroll;
}

.guide {
  position: absolute;
  padding: 10px;
  top: -10px;
  left: 700px;
  width: 500px;
  background: white;
  z-index: 99998;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.guide-title {
  position: absolute;
  padding: 10px;
  top: -50px;
  left: 700px;
  width: 200px;
  color: white;
  z-index: 99998;
  opacity: 0.8;
  background: #45936E;
  border-radius: 5px;
}

.dc-chart path.area {
  fill-opacity: 0.8;
}

@media(max-width:991px){
  .left-team {
    
  }

  .right-team {
    margin-top: 20px;
  }
}

input[type="checkbox"] {
  margin-right: 20px; 
}

.dc-chart rect.deselected ~ text {
  opacity: 0.5;
}

.dc-chart g.row rect {
  fill-opacity: 1;
}



.search {
  min-width: 220px;
  max-width: 220px;
  margin-top: 5px;
}

svg:not(:root) {
  background: whitesmoke;
}

legend {
  display: inline;
}

legend > .btn {
  border: none;
  font-size: 0.65em;
}

.selectize-control {
  padding-top: 5px;
  width: 200px;
  display: inline-flex;
}

.navbar-nav {
  float: left;
}

.nav > li {
  display: inline-block;
  margin: 0 5px;
}

.title {
  display: block;
  margin: 10px auto;
}

legend {
  font-size: 1.35em;
}

.collapse.in#hide, .collapsing#hide {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: flex;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.main {
  font-size: 1.2em;
}

.navbar {
  margin-bottom: 0px;
}

legend.reset {
  margin: auto 30px;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  z-index: initial;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  padding: 5px;
  position: absolute;
  font-size: 1.1em;
}

.tooltiptext.left {
  top: -5px;
  left: 105%;
}

.tooltiptext.right {
  top: -5px;
  right: 105%;
}

.tooltiptext {
  z-index: 99999999 !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.tooltip .tooltiptext.left::after {
  top: 15%;
  right: 100%; /* To the left of the tooltip */
  border-color: transparent black transparent transparent;
}

.tooltip .tooltiptext.right::after {
  top: 15%;
  left: 100%; /* To the left of the tooltip */
  border-color: transparent transparent transparent black;
}
