<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <div class="navbar-header">
        <span class="navbar-brand">Hide/Show Charts</span>
      </div>
      <li><a><label>
        <input type="checkbox" checked onclick="hideshow('#result_year')">
        Overall
        </label></a></li>
      <li><a><label>
        <input type="checkbox" checked onclick="hideshow('#team_opp')">
        Win/Loss
        </label></a></li>
      <li><a><label>
        <input type="checkbox" checked onclick="hideshow('#result')">
        Match Results
        </label></a></li>
      <li><a><label>
        <input type="checkbox" checked onclick="hideshow('#team')">
        Won
        </label></a></li>
      <li><a><label>
        <input type="checkbox" checked onclick="hideshow('#opposition')">Lost
        </label></a></li>
      <li><a onclick="showAll()"><label>
        Show All 
        </label></a></li>
    </ul>
  </div>
</div>