{% extends "layout.html" %}

{% block content %}
<div class="tab-content">
  <div id="summary" class="tab-pane fade in active">
    <div class="container-fluid">
      <div class="row"><!-- start first row -->
        <div class="col-md-12 col-xs-10 collapse-in" id="true_composite_chart">
          <span class="composite-title">
            Team A Vs Team B Performance
          </span>
        </div>
        <div class="col-md-6 col-sm-12 left-team">
          <div class="col-md-12 col-xs-10" id='data_count' style='padding: 0'>
              <span class='filter-count'></span>
              selected out of <span class='total-count'></span> records.
          </div>
          <div class="col-md-12 col-xs-10 collapse-in" id="result_year">
              <span class="result_year_title">Win, Loss and Ties By Team(s) Selected</span> 
              <input type='button' class='btn btn-primary btn-xs hideshow' value='change view' onclick="change_result_view()">
              <br/>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 collapse-in" id="team">
            <span class="title">
              Team A
              <legend><a href="javascript:team_chart.filterAll(); team_chart.filter('Australia'); dc.redrawAll(); hideButton('#teamA')" class='btn btn-info pull-right reset' style='display:none;' id="teamA"><i class="fa fa-refresh"> Reset</i> </a></legend>
            </span>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 collapse-in" id="opposition">
            <span class="title">
              Opposition A
              <legend><a href="javascript:opposition_chart.filterAll(); dc.redrawAll()" class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i> </a></legend>
            </span>
          </div>
          <div class="col-md-4 col-xs-6 collapse-in" id="result">
              <span class="title">
                Results A
                <legend><a href='javascript:result_chart.filterAll(); dc.redrawAll()' class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i></a></legend>
              </span>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 collapse-in" id="ground">
            <span class="title">
              Locations A
              <legend><a href='javascript:ground_chart.filterAll(); dc.redrawAll()' class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i> </a></legend>
            </span>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 right-team">
          <div class="col-md-12 col-xs-10" id='data_count2' style='padding: 0'>
              <span class='filter-count'></span>
              selected out of <span class='total-count'></span> records.
          </div>
          <div class="col-md-12 col-xs-10 collapse-in" id="result_year2">
              <span class="result_year_title2">Win, Loss and Ties By Team(s) Selected</span> 
              <input type='button' class='btn btn-primary btn-xs hideshow' value='change view' onclick="change_result_view2()">
              <br/>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 collapse-in" id="team2">
            <span class="title">
              Team B
              <legend><a href="javascript:team_chart2.filterAll(); team_chart2.filter('New Zealand'); dc.redrawAll(); hideButton('#teamB')" class='btn btn-info pull-right reset' style='display:none;' id="teamB"><i class="fa fa-refresh"> Reset</i> </a></legend>
            </span>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 collapse-in" id="opposition2">
            <span class="title">
              Opposition B
              <legend><a href='javascript:opposition_chart2.filterAll(); dc.redrawAll()' class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i> </a></legend>
            </span>
          </div>
          <div class="col-md-4 col-xs-6 collapse-in" id="result2">
            <span class="title">
              Results B
              <legend><a href='javascript:result_chart2.filterAll(); dc.redrawAll()' class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i></a></legend>
            </span>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 collapse-in" id="ground2">
            <span class="title">
              Locations B
              <legend><a href='javascript:ground_chart2 .filterAll(); dc.redrawAll()' class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i> </a></legend>
            </span>
          </div>
        </div>
      </div><!-- end of first row -->
    </div>
  </div>
</div>

{% endblock %}
