{% extends "layout.html" %}

{% block content %}
<div class="tab-content container">
  <div id="summary" class="tab-pane fade in active">
    <div class="container">
      <div class="row"><!-- start first row -->
        <div class="col-md-12 col-xs-10" id='data_count' style='padding: 0'>
          <span class='filter-count'></span>
         selected out of <span class='total-count'></span> records.
        </div>
        <div class="col-md-8 col-xs-10 collapse-in" id="result_year">
          <span class="result_year_title">Win, Loss and Ties By Team(s) Selected</span> 
          <input type='button' class='btn btn-primary btn-xs hideshow' value='change view' onclick="change_result_view()">
          <br/>
        </div>
        <div class="col-md-4 col-xs-4 collapse-in" id="result">
          Match Results
          <legend><a href='javascript:result_chart.filterAll(); dc.redrawAll()' class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i></a></legend>
        </div>
        <div class="col-md-6 col-sm-8 col-xs-10 collapse-in" id="team_opp">
          Win/Loss by Team
          <legend><a href='javascript:team_opp_chart.filterAll(); dc.redrawAll()' class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i> </a></legend>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 collapse-in" id="team">
          Team A
          <legend><a href='javascript:team_chart.filterAll(); dc.redrawAll()' class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i> </a></legend>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 collapse-in" id="opposition">
          Team B
          <legend><a href='javascript:opposition_chart.filterAll(); dc.redrawAll()' class='btn btn-info pull-right reset' style='display:none;'><i class="fa fa-refresh"> Reset</i> </a></legend>
        </div>
      </div><!-- end of first row -->
    </div>
  </div>
</div>

{% endblock %}