<nav class="navbar navbar-default main-nav nav-border">
  <div class="container-fluid" id="navfluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="./cricket.html" data-step="1" data-intro="This is an interactive cricket visualization. Feel free to explore. Charts share similar functionalities, but not all are clickable and hoverable. Try combining different filters to achieve interesting results. ">
          Cricket Data Visualization
        </a>
        <ul class="nav navbar-nav">        
          <li>
            <a class="btn btn-large btn-sucess" href="javascript:void(0);" onclick="javascript:introJs().start(); ">Guide Me</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="collapse" data-target="#hide" href="#" data-step="2" data-intro="Hide or Show charts using this. This is useful when filters have been set or if you do not want to display specific charts.">Hide/Show Charts
            <span class="caret"></span></a>
            <div class="collapse" id="hide">
              <div>
                <ul class="no-bullets">
                  <strong>Overall</strong>
                  <li>
                      <a><label>A
                          <input type="checkbox" checked onclick="hideshow('#result_year')">
                      </label></a>
                      <a><label>B
                          <input type="checkbox" checked onclick="hideshow('#result_year2')">
                      </label></a>
                  </li>
                  <strong>Team</strong>
                  <li>
                      <a><label>A
                          <input type="checkbox" checked onclick="hideshow('#team')">
                      </label></a>
                      <a><label>B
                          <input type="checkbox" checked onclick="hideshow('#team2')">
                      </label></a>
                  </li>
                  <strong>Opposition</strong>
                  <li>
                      <a><label>A
                          <input type="checkbox" checked onclick="hideshow('#opposition')">
                      </label></a>
                      <a><label>B
                          <input type="checkbox" checked onclick="hideshow('#opposition2')">
                      </label></a>
                  </li>
                  <strong>Match Results</strong>
                  <li>
                      <a><label>A
                          <input type="checkbox" checked onclick="hideshow('#result')">
                      </label></a>
                      <a><label>B
                          <input type="checkbox" checked onclick="hideshow('#result2')">
                      </label></a>
                  </li>
                  <strong>Location</strong>
                  <li>
                      <a><label>A
                          <input type="checkbox" checked onclick="hideshow('#ground')">
                      </label></a>
                      <a><label>B
                          <input type="checkbox" checked onclick="hideshow('#ground2')">
                      </label></a>
                  </li>
                  <li><a onclick="showAll()"><label>
                      Show All 
                  </label></a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</nav>
